@font-face {
  font-family: 'Flexo';
  src: url('/fonts/Flexo/Flexo-HeavyIt.eot');
  src: local('Flexo Heavy Italic'), local('Flexo-HeavyIt'),
    url('/fonts/Flexo/Flexo-HeavyIt.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Flexo/Flexo-HeavyIt.woff2') format('woff2'),
    url('/fonts/Flexo/Flexo-HeavyIt.woff') format('woff'),
    url('/fonts/Flexo/Flexo-HeavyIt.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Flexo';
  src: url('/fonts/Flexo/Flexo-ThinIt.eot');
  src: local('Flexo Thin Italic'), local('Flexo-ThinIt'),
    url('/fonts/Flexo/Flexo-ThinIt.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Flexo/Flexo-ThinIt.woff2') format('woff2'),
    url('/fonts/Flexo/Flexo-ThinIt.woff') format('woff'),
    url('/fonts/Flexo/Flexo-ThinIt.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Flexo';
  src: url('/fonts/Flexo/Flexo-It.eot');
  src: local('Flexo Italic'), local('Flexo-It'),
    url('/fonts/Flexo/Flexo-It.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Flexo/Flexo-It.woff2') format('woff2'),
    url('/fonts/Flexo/Flexo-It.woff') format('woff'),
    url('/fonts/Flexo/Flexo-It.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Flexo';
  src: url('/fonts/Flexo/Flexo-Light.eot');
  src: local('Flexo Light'), local('Flexo-Light'),
    url('/fonts/Flexo/Flexo-Light.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Flexo/Flexo-Light.woff2') format('woff2'),
    url('/fonts/Flexo/Flexo-Light.woff') format('woff'),
    url('/fonts/Flexo/Flexo-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Flexo';
  src: url('/fonts/Flexo/Flexo-Heavy.eot');
  src: local('Flexo Heavy'), local('Flexo-Heavy'),
    url('/fonts/Flexo/Flexo-Heavy.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Flexo/Flexo-Heavy.woff2') format('woff2'),
    url('/fonts/Flexo/Flexo-Heavy.woff') format('woff'),
    url('/fonts/Flexo/Flexo-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Flexo';
  src: url('/fonts/Flexo/Flexo-LightIt.eot');
  src: local('Flexo Light Italic'), local('Flexo-LightIt'),
    url('/fonts/Flexo/Flexo-LightIt.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Flexo/Flexo-LightIt.woff2') format('woff2'),
    url('/fonts/Flexo/Flexo-LightIt.woff') format('woff'),
    url('/fonts/Flexo/Flexo-LightIt.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Flexo';
  src: url('/fonts/Flexo/Flexo-Thin.eot');
  src: local('Flexo Thin'), local('Flexo-Thin'),
    url('/fonts/Flexo/Flexo-Thin.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Flexo/Flexo-Thin.woff2') format('woff2'),
    url('/fonts/Flexo/Flexo-Thin.woff') format('woff'),
    url('/fonts/Flexo/Flexo-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Flexo';
  src: url('/fonts/Flexo/Flexo-Medium.eot');
  src: local('Flexo Medium'), local('Flexo-Medium'),
    url('/fonts/Flexo/Flexo-Medium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Flexo/Flexo-Medium.woff2') format('woff2'),
    url('/fonts/Flexo/Flexo-Medium.woff') format('woff'),
    url('/fonts/Flexo/Flexo-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Flexo';
  src: url('/fonts/Flexo/Flexo-Black.eot');
  src: local('Flexo Black'), local('Flexo-Black'),
    url('/fonts/Flexo/Flexo-Black.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Flexo/Flexo-Black.woff2') format('woff2'),
    url('/fonts/Flexo/Flexo-Black.woff') format('woff'),
    url('/fonts/Flexo/Flexo-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Flexo';
  src: url('/fonts/Flexo/Flexo-DemiIt.eot');
  src: local('Flexo DemiBold Italic'), local('Flexo-DemiIt'),
    url('/fonts/Flexo/Flexo-DemiIt.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Flexo/Flexo-DemiIt.woff2') format('woff2'),
    url('/fonts/Flexo/Flexo-DemiIt.woff') format('woff'),
    url('/fonts/Flexo/Flexo-DemiIt.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Flexo';
  src: url('/fonts/Flexo/Flexo-BlackIt.eot');
  src: local('Flexo Black Italic'), local('Flexo-BlackIt'),
    url('/fonts/Flexo/Flexo-BlackIt.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Flexo/Flexo-BlackIt.woff2') format('woff2'),
    url('/fonts/Flexo/Flexo-BlackIt.woff') format('woff'),
    url('/fonts/Flexo/Flexo-BlackIt.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Flexo';
  src: url('/fonts/Flexo/Flexo-MediumIt.eot');
  src: local('Flexo Medium Italic'), local('Flexo-MediumIt'),
    url('/fonts/Flexo/Flexo-MediumIt.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Flexo/Flexo-MediumIt.woff2') format('woff2'),
    url('/fonts/Flexo/Flexo-MediumIt.woff') format('woff'),
    url('/fonts/Flexo/Flexo-MediumIt.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Flexo';
  src: url('/fonts/Flexo/Flexo-Bold.eot');
  src: local('Flexo Bold'), local('Flexo-Bold'),
    url('/fonts/Flexo/Flexo-Bold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Flexo/Flexo-Bold.woff2') format('woff2'),
    url('/fonts/Flexo/Flexo-Bold.woff') format('woff'),
    url('/fonts/Flexo/Flexo-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Flexo';
  src: url('Flexo-Regular.eot');
  src: local('Flexo Regular'), local('Flexo-Regular'),
    url('Flexo-Regular.eot?#iefix') format('embedded-opentype'),
    url('Flexo-Regular.woff2') format('woff2'),
    url('Flexo-Regular.woff') format('woff'),
    url('Flexo-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Flexo';
  src: url('/fonts/Flexo/Flexo-BoldIt.eot');
  src: local('Flexo Bold Italic'), local('Flexo-BoldIt'),
    url('/fonts/Flexo/Flexo-BoldIt.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Flexo/Flexo-BoldIt.woff2') format('woff2'),
    url('/fonts/Flexo/Flexo-BoldIt.woff') format('woff'),
    url('/fonts/Flexo/Flexo-BoldIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Flexo';
  src: url('/fonts/Flexo/Flexo-Demi.eot');
  src: local('Flexo DemiBold'), local('Flexo-Demi'),
    url('/fonts/Flexo/Flexo-Demi.eot?#iefix') format('embedded-opentype'),
    url('/fonts/Flexo/Flexo-Demi.woff2') format('woff2'),
    url('/fonts/Flexo/Flexo-Demi.woff') format('woff'),
    url('/fonts/Flexo/Flexo-Demi.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
